// background: rgb(255, 251, 247);
.footer {
  .greenZone {
    width: 100%;
    padding: 50px 0;
    background-color: #94ffc4;

    .container {
      .row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        gap: 60px;
        max-width: 1200px;
        margin: 0 auto;
        .letterInfo {
          flex: 2 1 500px;
          min-width: 300px;

          p {
            width: 100%;
            font-size: 14px;
            font-weight: 400;
            letter-spacing: 2px;
            margin-bottom: 20px;
          }
          h2 {
            font-size: 68px;
            font-weight: 400;
            letter-spacing: -3;
            line-height: 1.2;
            margin-bottom: 40px;

            span {
              display: block;
              font-family: inherit;
              font-weight: inherit;
            }
          }
          form {
            width: 100%;
          }

          .inputWrapper {
            position: relative;
            width: 100%;
            max-width: 700px;
          }

          input {
            width: 100%;
            padding: 30px 140px 30px 30px;
            border: none;
            font-size: 20px;
            outline: none;
          }
          button {
            position: absolute;
            right: 8px;
            top: 8px;
            bottom: 8px;
            border: none;
            background: #94ffc4;
            color: #080808;
            font-size: 15px;
            padding: 0 50px;
            font-weight: 600;
            cursor: pointer;
            transition: 0.3s;

            &:hover {
              background: #333;
              color: #fff;
            }
          }
        }
        p {
          margin-top: 20px;
          font-size: 14px;
          letter-spacing: 1;
          a {
            text-decoration: underline;
            color: black;
          }
        }

        .letterImg {
          flex: 1 1 400px;
          min-width: 280px;
          display: flex;
          justify-content: center;

          img {
            width: 100%;
            height: auto;
            object-fit: contain;
            max-width: 380px;
          }
        }
      }
    }
  }

  .container {
    .row {
      display: flex;
      justify-content: space-around;
      margin-bottom: 90px;
      flex-wrap: wrap;
      .footerContent {
        margin-top: 80px;
        h4 {
          font-size: 22px;
          font-weight: 400;
          width: 100%;
          margin-bottom: 10px;
          margin-top: 50px;
        }
        .lineFooter {
          width: 90px;
          height: 3px;
          background-color: #080808;
          margin-bottom: 30px;
        }
        .navBar {
          margin-top: 20px;
          .navList {
            list-style: none;
            padding: 0;
            margin: 0;

            .navItem {
              position: relative;
              padding-left: 20px;
              margin-bottom: 10px;

              &::before {
                content: "";
                position: absolute;
                left: 0;
                top: 8px; 
                width: 6px;
                height: 6px;
                background-color: black;
                border-radius: 50%;
              }
            }
            .navItem a {
              color: black;
              text-decoration: none;

              &:hover {
                color: #17b960;
              }
            }
          }
        }
      }

      .ulFooter {
        .liFooter {
          margin-bottom: 20px;
          a {
            color: #080808;
            &:hover {
              color: #0e8041;
            }
          }
        }
      }

      p {
        font-size: 18px;
        margin-bottom: 10px;
        margin-top: 15px;
      
      }
      span {
        font-weight: 700;
      }
     
    }
  }
 
  margin-bottom: 30px;
  .lastPart{
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    p{
      font-weight: 400;
      font-size: 14px;
    }
    a {
      color: #080808;
    }
  }
}


@media (max-width: 992px) {
  .greenZone .container .row {
    flex-direction: column;
    text-align: center;

    .letterInfo {
      order: 2;
    }

    .letterImg {
      order: 1;
      img {
        max-width: 80%;
      }
    }
  }
}
