.search-box {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 8;
  background: #fff;
  align-items: center;
  visibility: hidden;
  transition: all ease 0.3s;
  &.isOpen {
    transition: all ease 0.3s;
    visibility: visible;
    overflow: hidden;
  }
  .container {
    .form {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      text-align: center;
      margin-bottom: 40px;
      h3 {
        width: 100%;
        display: block;
        font-family: "Cinzel", serif;
        margin-bottom: 30px;
        font-size: 30px;
      }
      input[type="search"] {
        width: 70%;
        border: none;
        border-bottom: 2px solid #eee;
        margin: 0 15%;
        margin-bottom: 20px;
        font-size: 19px;
        max-width: 100%;
        height: 70px;
        padding: 0 30px;
        outline: none !important;
      }
      input[type="submit"] {
        height: 70px;
        display: inline-block;
        font-size: 14px;
        font-weight: 600;
        color: #080808;
        background: #94ffc4;
        border: none;
        padding: 0 50px;
        cursor: pointer;
      }
    }
    .search-events {
      width: 100%;
      display: block;
      margin-top: 5vh;
      ul {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        margin: 0;
        padding: 0;

        .searchLoading {
          font-size: 24px;
          font-family: "Cinzel", serif;
          font-weight: 400;
          text-align: center;
          margin: 0 auto;
        }
        li {
          flex: 1;
          margin: 0;
          padding: 0 5%;
          list-style: none;
          text-align: center;
          max-width: 555px;
          min-width: 285px;
          h5 {
            a {
              text-decoration: none;
              color: #080808;
              width: 100%;
              display: block;
              font-size: 20px;
              font-family: "Cinzel", serif;
              font-weight: 400 a {
                display: inline;
                background-image: linear-gradient(
                  rgba(0, 0, 0, 0) calc(99% - 1px),
                  #080808 1px
                );
                background-repeat: no-repeat;
                background-size: 0% 100%;
                transition: background-size 0.5s;
                color: #080808;
              }
            }
          }
          span {
            width: 100%;
            display: block;
            opacity: 0.7;
          }
        }
      }
    }
  }
}
