.art-collection-slider {
  width: 100%;
  height: 90vh;
  padding: 80px 0;
  background: #fff;

  .art-collection-container {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    height: 100%;

    .art-text-controls {
      flex: 0 0 35%;
      padding-right: 40px;
      display: flex;
      flex-direction: column;

      h1 {
        font-size: 36px;
        font-weight: 300;
        margin-bottom: 50px;
        color: #000;
        text-transform: uppercase;
      }

      .art-thumbs-swiper {
        width: 100%;
        height: 100%;

        .art-control-slide {
          display: flex;
          align-items: flex-start;
          padding-left: 20px;
          cursor: pointer;
          color: #aaa;
          border-left: 1px solid #aaa;
          transition: 0.3s ease;

          &.active,
          .swiper-slide-active &,
          .swiper-slide-duplicate-active & {
            border-left-color: #000;
            color: #000;
          }

          .slide-index {
            margin-right: 20px;
            font-size: 16px;
            font-weight: 700;
            position: relative;
            top: 2px;
          }

          .slide-subtitle {
            font-size: 30px;
            font-weight: 600;
            line-height: 1.1;
            text-transform: uppercase;
          }
        }
      }
    }

    .art-image-display {
      flex: 0 0 65%;
      height: 100%;
      overflow: hidden;

      .art-main-swiper {
        width: 100%;
        height: 100%;
      }

      .image-slide {
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        filter: grayscale(100%);
        transition: filter 0.5s ease;
      }

      .swiper-slide-active .image-slide {
        filter: grayscale(0%);
      }
    }
  }
}

@media (max-width: 997px) {
  .art-collection-slider {
    height: 100vh;

    .art-collection-container {
      flex-direction: column;

      .art-text-controls {
        display: none; 
      }

      .art-image-display {
        flex: 0 0 100%;
        width: 100%;
        height: 100vh; 
        min-height: 100vh; 

        .art-main-swiper,
        .image-slide {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

