.cart {
  .container {
    .row {
      flex-direction: column;
      gap: 30px;
      .cartProducts {
        .cartList {
          .cartProduct {
            width: 50%;
            display: flex;
            gap: 50px;
            border: 1px solid #000;
            border-radius: 5px;
            padding: 20px;
            .cartProductImg {
              width: 100px;
              height: 200px;
              img {
                width: 100%;
                height: 100%;
              }
            }
            .cartProductCountBtn {
              .buttons {
                display: flex;
              }
            }
          }
        }
      }
    }
  }
}
