.exhibitionsDetails {
  .container {
    width: 100%;
    .heroExhibitions {
      transform: scale(1);
      opacity: 1;
      height: 580px;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      background-image: url("../../images/image/homeSlide01.jpg");
      position: relative;
      overflow: hidden;
      background-size: cover;
      background-position: center top;
      background-repeat: no-repeat;
      margin-top: -130px;
      z-index: -1;

      .row {
        flex-direction: column;
        margin-left: 50px;
        .exhibitionsTitle {
          margin-top: 50px;
          font-size: 126px;
          margin-bottom: 40px;
          line-height: 1;
          font-weight: 400;
        }
        .lineP {
          display: flex;
          gap: 30px;
          align-items: center;

          .line {
            width: 2px;
            height: 60px;
            background-color: #080808;
            margin-left: 20px;
          }
        }
        p {
          color: #080808d7;
          font-size: 20px;
        }
      }
      .greenShape {
        position: absolute;
        top: 70%;
        left: 12%;
        width: 350px;
        height: 350px;
        background: #42e48b;
        border-radius: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
        opacity: 0.6;
        animation: morph 8s cubic-bezier(0.65, 0, 0.35, 1) infinite;

        @keyframes morph {
          0% {
            border-radius: 35% 65% 75% 25% / 55% 25% 75% 45%;
            transform: translate(-55%, -60%) scale(1.05);
          }
          50% {
            border-radius: 25% 75% 45% 55% / 20% 45% 25% 75%;
            transform: translate(-48%, -52%) scale(1.05);
          }
          100% {
            border-radius: 35% 65% 75% 25% / 55% 25% 75% 45%;
            transform: translate(-55%, -60%) scale(1.05);
          }
        }
      }
    }

    .firstPart {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      gap: 60px;
      margin-top: 140px;

      .leftInfo {
        width: 40%;
        margin-left: 100px;

        .discount {
          display: inline-block;
          background: #89fbc6;
          color: #080808;
          padding: 8px 20px;
          border-radius: 30px;
          font-size: 16px;
          margin-bottom: 28px;
        }

        .eventTitle {
          font-size: 48px;
          font-weight: 400;
          line-height: 1.2;
          margin-bottom: 25px;
        }

        .desc {
          font-size: 16px;
          color: #555;
          line-height: 1.6;
          margin-bottom: 35px;
          width: 90%;
        }

        .eventDetails {
          ul {
            list-style: none;
            padding: 0;
            margin: 0 0 40px 0;

            li {
              display: flex;
              gap: 105px;
              margin-bottom: 12px;
              font-size: 16px;

              strong {
                width: 160px;
                font-weight: 700;
                color: #444;
              }
            }
          }
        }

        .openingTimes {
          display: flex;
          gap: 30px;
          margin-top: 30px;

          img {
            width: 45px;
            height: 45px;
          }

          h6 {
            margin: 0;
            font-size: 18px;
            font-weight: 700;
          }

          p {
            margin: 3px 0;
            color: #555;
          }
        }
      }

      .rightImg {
        width: 60%;
        display: flex;
        justify-content: flex-end;

        img {
          width: 100%;
          max-width: 750px;
          object-fit: cover;
        }
      }
      margin-bottom: 180px;
    }


    .mainPart {
      margin-left: 100px;
      margin-right: 110px;

      h3 {
        margin-bottom: 20px;
        font-size: 50px;
        font-weight: 400;
      }
      p {
        color: #555;
        margin-bottom: 16px;
        line-height: 1.7;
        font-size: 18px;
      }
    }

    .mainPartDetails {
      margin-left: 100px;
      margin-top: 140px;
      margin-right: 100px;
      margin-bottom: 50px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 80px;
      .imgLeft {
        flex: 1;
        img {
          width: 100%;
          max-width: 700px;
          height: auto;
          object-fit: contain;
        }
      }
      .info {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        text-align: left;

        p {
          margin-bottom: 18px;
          font-size: 18px;
          line-height: 1.7;
          color: #191919;

          strong {
            font-weight: 600;
            color: #080808;
          }
        }
      }
    }

    .formTittle {
      margin: 110px 0 100px;
      text-align: center;
      .centerImg img {
        width: 80px;
        height: 80px;
        margin-top: 30px;
        margin-bottom: 50px;
      }
      .centerTitle h2 {
        width: 100%;
        font-size: 92px;
        letter-spacing: -2px;
        line-height: 1;
        font-weight: 400;
      }
    }
    .exhibitionsImg {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 80px auto;
      width: 80%;
      img {
        height: 450px;
        width: 100%;
        height: auto;
        object-fit: contain;
      }
    }

    .lastPart{
         margin-left: 100px;
      margin-right: 110px;
      margin-bottom: 150px;
      margin-top: 150px;
     

      h3 {
        margin-bottom: 20px;
        font-size: 52px;
        font-weight: 400;
      }
      p {
        color: #555;
        margin-bottom: 16px;
        line-height: 1.5;
        font-size: 18px;
      }
    }
  }
}
