.loading {
  width: 100%;
  height: 100vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 3px solid #ffffff70;
    display: flex;
    justify-content: center;
    align-items: center;
    .load {
      width: 70px;
      height: 70px;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
  span {
    font-size: 20px;
    font-weight: bold;
    color: #ffffff70;
    margin-top: 20px;
  }
}
