.news {
  padding: 30px 0 40px;

  .container {
    .row {
      flex-direction: column;
      gap: 50px;

      .logo {
        margin: 0 auto;
        width: 70px;
        height: 70px;
      }

      .sectionTitle {
        margin: 0 auto;
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 15px;

        .text {
          color: #ddd;
        }

        .title {
          font-size: 54px;
        }
      }

      .top {
        display: flex;

        .left {
          display: flex;
          flex-direction: column;
          gap: 30px;

          .date {
            max-width: 130px;
            padding: 16px 12px;
            background-color: #94ffc4;
          }

          .topTitle {
            font-size: 38px;
            font-weight: 200;
          }

          .topText {
            font-size: 18px;
            color: #ddd;
          }

          a {
            display: inline-block;
            color: #000;
            font-size: 22px;
            text-decoration: none;

            span {
              position: relative;
              padding-bottom: 3px;
              display: inline-block;

              &::after {
                content: "";
                position: absolute;
                left: 0;
                bottom: 0;
                height: 3px;
                width: 0;
                background-color: #94ffc4;
                transition: width 0.3s ease;
              }
            }

            &:hover span::after {
              width: 100%;
            }
          }
        }
      }

      .bottom {
        display: flex;
        gap: 40px;

        .left {
          img {
            width: 100%;
            height: auto;
            object-fit: cover;
          }
        }

        .right {
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          text-align: end;
          gap: 30px;

          .date {
            max-width: 130px;
            padding: 16px 12px;
            background-color: #94ffc4;
            text-align: center;
          }

          .bottomTitle {
            font-size: 38px;
            font-weight: 200;
          }

          .bottomText {
            font-size: 18px;
            color: #ddd;
          }

          a {
            display: inline-block;
            color: #000;
            font-size: 20px;
            text-decoration: none;

            span {
              position: relative;
              padding-bottom: 3px;
              display: inline-block;

              &::after {
                content: "";
                position: absolute;
                left: 0;
                bottom: 0;
                height: 3px;
                width: 0;
                background-color: #94ffc4;
                transition: width 0.3s ease;
              }
            }

            &:hover span::after {
              width: 100%;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 997px) {
  .news {
    padding: 120px 0 40px;
  }
}
