.shopDetails {
  margin-top: 120px;
  margin-bottom: 100px;
  .container {
    .row {
      .productBox {
        display: flex;
        gap: 100px;
        margin-top: 50px;
        align-items: center;

        max-width: 900px;
        margin: 0 auto;
        align-items: flex-start;

        .leftSide {
          width: 480px;
          height: 420px;
          border-radius: 14px;
          overflow: hidden;

          img {
            width: 100%;
            height: 100%;
            border-radius: 14px;
            object-fit: cover;
            transition: transform 0.3s ease;
            cursor: zoom-in;

            &.zoomed {
              transform: scale(1.8);
              cursor: zoom-out;
            }
          }
        }
        .rightSide {
          display: flex;
          flex-direction: column;
          gap: 20px;
          text-align: center;
          width: 350px;
          transform: translateY(-20px);
          margin-top: 70px;

          h2 {
            font-size: 38px;
            font-weight: 700;
          }
          p {
            font-size: 18px;
            line-height: 1.6;
            color: #555;
          }

          .price {
            font-size: 32px;
            font-weight: 600;
            color: #111;
          }

          .actions {
            display: flex;
            align-items: center;
            gap: 20px;
            margin-top: 40px;
            .counter {
              display: flex;
              align-items: center;
              border-radius: 8px;
              overflow: hidden;

              button {
                padding: 10px 16px;
                background: #ed5f27;
                color: #fff;
                border: none;
                font-size: 18px;
                cursor: pointer;
              }

              span {
                padding: 10px 20px;
                background: #fff;
                border: 1px solid #ccc;
                font-size: 18px;
              }
            }
            .addBtn {
              background: #ed5f27;
              color: #fff;
              border: none;
              padding: 18px 38px;
              border-radius: 8px;
              font-weight: 700;
              cursor: pointer;
            }
          }
        }

    
        .imageModal {
          position: fixed;
          top: 0;
          left: 0;
          width: 100vw;
          height: 100vh;
          background: rgba(0, 0, 0, 0.7);
          display: flex;
          align-items: center;
          justify-content: center;
          z-index: 999;
          cursor: zoom-out;
          animation: fadeIn 0.3s ease;
        }

        .modalImg {
          max-width: 80vw;
          max-height: 90vh;
          border-radius: 10px;
          animation: zoomIn 0.3s ease;
        }

        
        @keyframes fadeIn {
          from {
            opacity: 0;
          }
          to {
            opacity: 1;
          }
        }

        @keyframes zoomIn {
          from {
            transform: scale(0.6);
          }
          to {
            transform: scale(1);
          }
        }
      }
    }
  }
}
